* {
    margin: 0;
    padding: 0;
    outline:none;
}
html {
    height: 100%;
    font-size: 100.1%;
}
body {
    font: 12px/1.333 arial;
    height: 100%;
}
a img, fieldset {
    border: 0;
}
a {
    outline: none;
    color: #a70328;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
/*a:hover{
	color:#3fa9f5;
}*/
li {
    list-style: none;
}
table {
	border-collapse: collapse;
}
/* html (begin) */
article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}
/* html (end) */

/* wrapper (begin) */
.wrapper {
	width: 977px;
	margin: 0 auto;
	position: relative;
}
/* wrapper (end) */

/* cols (begin) */
.cols {}
.cols:after {
	content: '';
	display: block;
	clear: both;
}
.cols .l-col {
	float: left;
}
.cols .r-col {
	float: right;
}
/* cols (end) */

/* logo (begin) */
.logo {}
.logo img {
	display: block;
}
/* logo (end) */

/* phones (begin) */
.phones {}
.phones .phone {
	font: bold 21px arial;
}
.phones .phone .prefix {
	color: #a3a3a3;
	margin: 0 5px 0 0;
}
.phones .worktime {
	color: #8e8e8e;
	font: 13px arial;
	margin: 5px 0 0;
}
/* phones (end) */

/* sendRequest (begin) */
.sendRequest {
	font: 13px arial;
}
.sendRequest .city {
	font-weight: bold;
}
.sendRequest .address {
	color: #8e8e8e;
	margin: 0 0 5px;
}
/* sendRequest (end) */

/* callback (begin) */
.callback {
	text-align: center;
	color: #000;
	font: bold 13px arial;
	background: url(../i/phone-inround.png) no-repeat center 0;
	padding: 40px 0 0;
    text-decoration: underline;
    cursor: pointer;
}
.callback:hover {
	color: #bf1e2e;
}
/* callback (end) */

/* header (begin) */
header {
	padding: 23px 0;
	position: relative;
}
header .phones {
	position: absolute;
	left: 335px;
	bottom: 40px;
}
header .sendRequest {
	position: absolute;
	right: 0;
	bottom: 40px;
	width: 180px;
}
header .callback {
	position: absolute;
	bottom: 40px;
	left: 590px;
}
/* header (end) */

/* button (begin) */
.button {
	font: bold 12px arial;
    background: #fff;
	background: linear-gradient(top,  #fff,  #ececec);
	background: -webkit-linear-gradient(left top, left bottom, #fff, #ececec);
	background: -moz-linear-gradient(top,  #fff,  #ececec);
	background: -o-linear-gradient(top,  #fff,  #ececec);
	background: -ms-linear-gradient(top,  #fff,  #ececec);
	border: 1px solid #d7d7d7;
	text-decoration: none;
	color: #000;
	padding: 0 12px;
	line-height: 24px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.button:hover {
    background: #f9f7f7;
	background: linear-gradient(top,  #f9f7f7,  #d5d5d5);
	background: -webkit-linear-gradient(left top, left bottom, #f9f7f7, #d5d5d5);
	background: -moz-linear-gradient(top,  #f9f7f7,  #d5d5d5);
	background: -o-linear-gradient(top,  #f9f7f7,  #d5d5d5);
	background: -ms-linear-gradient(top,  #f9f7f7,  #d5d5d5);
}
/* button (end) */

/* menu (begin) */
.menu {
    background: #f7941e;
    background: linear-gradient(top,  #f7941e,  #f1592a);
    background: -webkit-linear-gradient(left top, left bottom, #f7941e, #f1592a);
    background: -moz-linear-gradient(top,  #f7941e,  #f1592a);
    background: -o-linear-gradient(top,  #f7941e,  #f1592a);
    background: -ms-linear-gradient(top,  #f7941e,  #f1592a);
}
.menu > ul {
    width: 1200px;
    height: 44px;
}
.menu > ul:after {
    content: '';
    clear: both;
    width: 100%;
}
.menu > ul > li {
    float: left;
    font: bold 17px arial;
    position: relative;
}
.menu > ul > li:before {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;

    background: #f47924;
    background: linear-gradient(top,  #f47924,  #f26029);
    background: -webkit-linear-gradient(left top, left bottom, #f47924, #f26029);
    background: -moz-linear-gradient(top,  #f47924,  #f26029);
    background: -o-linear-gradient(top,  #f47924,  #f26029);
    background: -ms-linear-gradient(top,  #f47924,  #f26029);
}
.menu > ul > li:after {
    content: '';
    height: 100%;
    width: 1px;
    background: #000;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1px;

    background: #f7941e;
    background: linear-gradient(top,  #f7941e,  #f47b23);
    background: -webkit-linear-gradient(left top, left bottom, #f7941e, #f47b23);
    background: -moz-linear-gradient(top,  #f7941e,  #f47b23);
    background: -o-linear-gradient(top,  #f7941e,  #f47b23);
    background: -ms-linear-gradient(top,  #f7941e,  #f47b23);
}
.menu > ul > li:last-child:after,
.menu > ul > li:last-child:before {
    display: none;
}
.menu > ul > li > a {
    display: inline-block;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
    padding: 0 27px;
}
.menu > ul > li.active > a,
.menu > ul > li:hover > a {
    background: #bf1e2e;
}
.menu > ul > li > a img {
    vertical-align: middle;
    position: relative;
    left: -3px;
}
.menu .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}
.menu li:hover .submenu {
    display: block;
}
/* menu (end) */

/* submenu (begin) */
.submenu {
    display: none;
}
.submenu .inner {
    overflow: hidden;
    background: #ffffff;
    border: 6px solid #bf1e2e;
    position: relative;
    top: 2px;
    padding: 30px 50px;
    white-space: nowrap;
}
.submenu ul {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}
.submenu ul + ul {
    margin: 0 0 0 50px;
}
.submenu ul li {}
.submenu ul li + li {
    margin: 10px 0 0;
}
.submenu ul li a {
    color: #333;
    font: 14px arial;
}
.submenu ul li a:hover {
    color: #bf1e2e;
}
/* submenu (end) */

/* banner (begin) */
.banner {
    overflow: hidden;
}
.banner ul {
    width: 10000px;
}
.banner .banner-item {
    float: left;
}
.banner .banner-item img {
    display: block;
}
/* banner (end) */

/* bannerLine (begin) */
.bannerLine {}
.bannerLine ul {
    overflow: hidden;
}
.bannerLine ul li {
    width: 25%;
    height: 8px;
    float: left;
}
.bannerLine ul li {
    background: #f7941e;
}
.bannerLine ul li + li {
    background: #f1592a;
}
.bannerLine ul li + li + li {
    background: #ef4036;
}
.bannerLine ul li + li + li + li {
    background: #bf1e2e;
}
/* bannerLine (end) */

/* footer (begin) */
footer {
    margin: 125px 0 0;
    position: relative;
    padding: 15px 0;
    color: #fff;
    background: #f7941e;
    background: linear-gradient(top,  #f7941e,  #f1592a);
    background: -webkit-linear-gradient(left top, left bottom, #f7941e, #f1592a);
    background: -moz-linear-gradient(top,  #f7941e,  #f1592a);
    background: -o-linear-gradient(top,  #f7941e,  #f1592a);
    background: -ms-linear-gradient(top,  #f7941e,  #f1592a);
}
footer:before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 1280px;
    left: 50%;
    margin: 0 0 0 -640px;
    height: 69px;
    background: url(../i/ftop.png) no-repeat 0 0;
}
footer .wrapper {
    overflow: hidden;
}
footer .rss {
    float: right;
    width: 320px;
}
footer .rss h4 {
    color: #fff;
    font: bold 14px arial;
    text-transform: uppercase;
    margin: 0 0 10px;
}
footer .rss input[type=text] {
    border: 0;
    height: 28px;
    border-radius: 4px 0 0 4px;
    width: 213px;
    padding: 0 0 0 10px;
    font: italic 12px arial;
    color: #8e8e8e;
}
footer .rss input[type=submit] {
    color: #fff;
    float: right;
    font: bold 12px/28px arial;
    height: 28px;
    padding: 0 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0 4px 4px 0;

    background: #ee3f36;
    background: linear-gradient(top,  #ee3f36,  #c6232f);
    background: -webkit-linear-gradient(left top, left bottom, #ee3f36, #c6232f);
    background: -moz-linear-gradient(top,  #ee3f36,  #c6232f);
    background: -o-linear-gradient(top,  #ee3f36,  #c6232f);
    background: -ms-linear-gradient(top,  #ee3f36,  #c6232f);
}
footer .rss input[type=submit]:hover {
    background: #bf1e2e;
}
footer .license {
    padding: 25px 0 0;
}
footer .copy {
    margin: 25px 0 0;
}
footer .sllogo {
    margin: 25px 0 0;
    display: inline-block;
}
footer .contacts {
    font: 13px arial;
    position: absolute;
    left: 305px;
    top: 50px;
}
footer .contacts h5 {
    font: bold 14px arial;
}
/* footer (end) */

/* fMenu (begin) */
.fMenu {
    overflow: hidden;
}
.fMenu li {
    float: left;
    margin-right: 15px;
}
.fMenu li a {
    color: #fff;
}
.fMenu li a:hover {
    color: #000;
}
/* fMenu (end) */

/* advancedService (begin) */
.advancedService {
    margin: 35px 0 0;
}
.advancedService ul {
    width: 1000px;
}
.advancedService li {
    width: 230px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    background: #d6d6d6 url(../i/advbg.png) repeat-x 0 0;

    -webkit-box-shadow: 0 0 10px 1px #dbdbdb;
    -moz-box-shadow: 0 0 10px 1px #dbdbdb;
    box-shadow: 0 0 10px 1px #dbdbdb;
}
.advancedService li + li {
    margin: 0 0 0 16px;
}
.advancedService li h3 {
    font: bold 16px arial;
    margin: 15px 0 -5px;
}
/* advancedService (end) */

/* scheme (begin) */
.scheme {
    margin: 45px 0 0;
}
.scheme .head {
    font: bold 36px arial;
    position: relative;
    text-align: center;
    margin: 0 0 65px;
}
.scheme .head:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #e6e6e6;
}
.scheme .head span {
    background: #ffffff;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}
.scheme ul {}
.scheme ul li {
    text-align: center;
    font: bold 15px arial;
    width: 220px;
    display: inline-block;
    vertical-align: top;
}
.scheme ul li img {
    display: block;
    margin: 0 0 15px;
}
.scheme ul li + li {
    margin: 0 0 0 20px;
}
/* scheme (end) */

/* advantages (begin) */
.advantages {
    margin: 130px 0 0;
    background: #f2f2f2;
    padding: 25px;
    position: relative;
}
.advantages:before {
    content: '';
    width: 100%;
    height: 65px;
    background: url(../i/adv-top.png) no-repeat 0 0;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.advantages:after {
    content: '';
    width: 100%;
    height: 27px;
    background: url(../i/adv-b.png) no-repeat 0 0;
    position: absolute;
    top: 100%;
    left: 0;
}
.advantages .head {
    font: bold 36px arial;
    text-align: center;
    margin: 0 0 35px;
}
.advantages .cover {
    width: 85px;
    float: left;
    text-align: center;
}
.advantages .info {
    overflow: hidden;
}
.advantages ul {
    width: 1000px;
    margin: 0 0 -40px;
}
.advantages ul li {
    color: #4a4a4a;
    font: 13px/18px arial;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 0 90px 40px 0;
}
.advantages .name {
    font: bold 18px arial;
    margin: 0 0 7px;
    color: #000;
}
/* advantages (end) */

/* feedback (begin) */
.feedback {
    margin: 105px 0 0;
    background: url(../i/feedback-bg.png) no-repeat 0 0;
    height: 362px;
    overflow: hidden;
    
    -webkit-box-shadow: 0 0 10px 1px #dfdfdf;
    -moz-box-shadow: 0 0 10px 1px #dfdfdf;
    box-shadow: 0 0 10px 1px #dfdfdf;
}
.feedback .spec {
    float: left;
    width: 215px;
}
.feedback .spec-item {
    width: 135px;
    margin: 45px auto 0;
    text-align: center;
}
.feedback .spec-item .ava {
    border: 10px solid #fff;
    border-radius: 100%;
}
.feedback .spec-item .name {
    font: bold 14px arial;
}
.feedback .spec-item .post {
    font: 13px arial;
    color: #6e6e6e;
}
.feedback .info {
    overflow: hidden;
    margin: 20px 0 0;
}
.feedback .info .head {
    font: bold italic 26px arial;
}
.feedback .info .head span {
    color: #f58122;
    margin: 0 10px 0 0;
}
.feedback .info table {
    width: 100%;
}
.feedback input {
    height: 40px;
    margin: 5px 0 0;
}
.feedback textarea {
    height: 75px;
    resize: none;
    margin: 5px 0 0;
}
.feedback .name input {
    width: 260px;
}
.feedback .email input {
    width: 405px;
}
.feedback textarea {
    width: 702px;
}
.feedback td {
    padding: 20px 0 0;
}
.feedback label {
    color: #6e6e6e;
    font: italic 13px arial;
}
.feedback .buttons {
    text-align: right;
    margin: 20px 60px 0 0;
}
.feedback .buttons input {
    color: #fff;
    font: 18px arial;
    background: url(../i/fbsend.png) no-repeat 0 0;
    border: 0;
    width: 192px;
    line-height: 50px;
    height: 56px;
    text-transform: uppercase;
}
/* feedback (end) */

/* form styles (begin) */
input[type=text], textarea {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    background: #ffffff;
}
input[type=submit] {
    cursor: pointer;
}
/* form styles (end) */

/* text-articles (begin) */
.text-articles {
    margin: 100px 0 0;
    position: relative;
}
.text-articles .top {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 29px;
    background: url(../i/art-top.png) no-repeat 0 0;
}
.text-articles .top:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 100%;
    height: 77px;
    width: 20px;
    background: url(../i/art-l.png) no-repeat 0 0;
}
.text-articles .top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    height: 77px;
    width: 20px;
    background: url(../i/art-r.png) no-repeat 0 0;
}
.text-articles .head {}
.text-articles .head a {
    color: #fff;
    font: bold 36px arial;
    line-height: 77px;
    display: block;
    padding: 0 0 0 30px;
}
.text-articles .l-col {
    width: 497px;
}
.text-articles .r-col {
    width: 480px;
}
.text-articles .l-col .head {
    background: #f58122;
}
.text-articles .r-col .head {
    background: #bf1e2e;
}
.text-articles .news,
.text-articles .articles {
    margin: 40px 0 0;
}
.text-articles .news ul {}
.text-articles .news ul li {
    overflow: hidden;
    color: #6e6e6e;
    font: 13px arial;
    margin: 30px 0 0;
}
.text-articles .news ul li:first-child {
    margin: 0;
}
.text-articles .news ul li .date {
    float: left;
    color: #fff;
    width: 62px;
    margin: 0 20px 0 0;
    text-align: center;
}
.text-articles .news ul li .day {
    font: 36px arial;
    background: #f58122;
    margin: 0 0 1px;
}
.text-articles .news ul li .month {
    font: 13px arial;
    background: #bf1e2e;
}
.text-articles .news ul li .info {
    overflow: hidden;
    width: 305px;
    line-height: 18px;
}
.text-articles .news ul li .h {
    font: 14px arial;
    margin: 0 0 7px;
}
.text-articles .news ul li .h a {
    color: #000;
}
/* text-articles (end) */

/* news (begin) */
.news {}
.news ul {}
.news ul li {
    color: #4a4a4a;
    overflow: hidden;
    margin: 35px 0 0;
}
.news ul li .cover {
    float: left;
    margin: 0 15px 0 0;
}
.news ul li .info {
    overflow: hidden;
    line-height: 20px;
}
.news ul li .date {
    color: #f7941e;
    font: italic 12px arial;
    margin: 0 0 5px;
}
.news ul li .h {
    font: bold 18px arial;
    margin: 0 0 15px;
}
.news ul li .h a {
    color: #000;
}
.news .news-date {
    color: #f7941e;
    font: italic 12px arial;
}
/* news (end) */

/* articles (begin) */
.articles {}
.articles .cover,
.articles .info {
    vertical-align: middle;
    display: inline-block;
}
.articles .info {
    width: 225px;
    font: 14px arial;
    margin: 0 0 0 20px;
}
.articles .info a {
    color: #000;
}
.articles ul li {
    margin: 5px 0 0;
}
.articles ul li:first-child {
    margin: 0;
}
/* articles (end) */

/* clients (begin) */
.clients {
    margin: 70px -85px 0;
    padding: 40px 85px;

    -webkit-box-shadow: 0 0 10px 1px #dfdfdf;
    -moz-box-shadow: 0 0 10px 1px #dfdfdf;
    box-shadow: 0 0 10px 1px #dfdfdf;
}
.clients .head {
    font: bold 36px arial;
    text-align: center;
}
.clients ul {
    margin: 35px 0 0;
}
.clients ul li {
    display: inline-block;
    vertical-align: middle;
}
.clients ul li + li {
    margin: 0 0 0 45px;
}
/* clients (end) */

/* mainPageInfo (begin) */
.mainPageInfo {
    margin: 90px 0 0;
}
.mainPageInfo h3 {
    font: bold 24px arial;
}
.mainPageInfo p {
    color: #6e6e6e;
    margin: 15px 0 0;
}
/* mainPageInfo (end) */

/* uc (begin) */
.uc {
    font: 13px arial;
    color: #4a4a4a;
    margin: 45px 0 0;
}
.uc h1 {
    font: bold 28px arial;
    color: #000;
    margin: 0 0 20px;
}
.uc h2 {
    font: bold 21px arial;
    color: #000;
    margin: 0 0 20px;
}
.uc p {
    margin: 0 0 35px;
    line-height: 20px;
}
.uc ul {
    margin: 0 0 45px;
}
.uc ul li {
    margin: 0 0 5px;
}
.uc ul li span {
    color: #f7941e;
    margin: 0 5px;
}
.uc img[align=left] {
    margin: 0 20px 20px 0;
    display: inline-block;
}
/* uc (end) */

/* breadcrumbs (begin) */
.breadcrumbs {
    color: #8e8e8e;
    margin: 10px 0 45px;
}
.breadcrumbs a {
    color: #000;
}
.breadcrumbs .div {
    color: #8e8e8e;
    margin: 0 5px;
}
/* breadcrumbs (end) */

/* h1 (begin) */
h1.mh {
    font: bold 28px arial;
}
h1.mh .button {
    vertical-align: middle;
    margin: 0 0 0 20px;
}
/* h1 (end) */

/* pager (begin) */
.news + .pager,
.reviews + .pager,
.products + .pager{
    margin: 60px 0 0;
}
.pager {
    font: 14px arial;
    padding: 35px 0 0;
    border-top: 3px solid #f7941e;
    text-align: center;
}
.pager a, .pager span {
    display: inline-block;
    padding: 0 5px;
}
.pager .active {
    background: #f7941e;
    color: #fff;
}
.pager a {
    color: #000;
}
/* pager (end) */

/* reviews (begin) */
.reviews {}
.reviews ul {}
.reviews ul li {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #d9d9d9;
    color: #4a4a4a;
}
.reviews ul li:first-child {
    border: 0;
    margin: 0;
}
.reviews ul li .date {
    color: #f7941e;
    font: italic 12px arial;
    margin: 0 0 5px;
}
.reviews ul li .h {
    font-size: 18px;
    color: #000;
    margin: 0 0 10px;
}
/* reviews (end) */

/* services (begin) */
.services {}
.services ul {}
.services ul li {
    margin: 15px 0 0;
}
.services ul li a {
    color: #000;
}
/* services (end) */

/* products (begin) */
.products {}
.products ul {}
.products ul li {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
}
.products ul li:first-child {
    border: 0;
    margin: 0;
}
.products ul li .h {
    font: bold 18px arial;
    margin: 0 0 10px;
}
.products ul li .h a {
    color: #000;
}
.products ul li .info {
    overflow: hidden;
    font: 13px/20px arial;
    color: #4a4a4a;
}
.products ul li .cover {
    float: left;
    width: 250px;
}
/* products (end) */

/* popup (begin) */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.popup-substrate {
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    width: 390px;
    margin: 0 0 0 -195px;
}
.popup-content .close {
    width: 28px;
    height: 28px;
    background: url(../i/closebtn.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: -14px -14px 0 0;
}
.popup-content .close:hover {
    background-position: -28px 0;
}
/* popup (end) */

/* fcallback (begin) */
.fcallback {}
.fcallback .h {
    font: 18px arial;
    border-bottom: 2px solid #f58122;
    padding: 0 0 5px;
    margin: 0 0 10px;
}
.fcallback label {
    color: #6e6e6e;
    font: italic 12px arial;
}
.fcallback input[type=text] {
    color: #6e6e6e;
    font: bold 14px/27px arial;
    height: 27px;
    vertical-align: middle;
    width: 220px;
    margin: 0 15px 0 0;
}
.fcallback input[type=submit] {
    width: 150px;
    font: 11px/29px arial;
    height: 29px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    background: url(../i/fcbbut.png) no-repeat 0 0;
}
.fcallback input[type=submit]:hover {
    background-position: 0 -29px;
}
/* fcallback (end) */

/* contacts (begin) */
.contacts {
    color: #4a4a4a;
}
.contacts .mh {
    color: #000;
}
.contacts .cols {
    margin: 35px 0 0;
}
.contacts .cols .l-col {
    width: 390px;
}
.contacts .cols .r-col {
    width: 500px;
}
.contacts p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 20px;
}
.contacts p a {
    color: #000;
}
/* contacts (end) */

/* requisites (begin) */
.requisites {
    margin: 50px 0 0;
}
.requisites h3 {
    margin: 0 0 15px;
    font: bold 16px arial;
}
/* requisites (end) */